body {
    background-color: lightblue;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1f2937;

}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;

}

.navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

ul {
    display: flex;
    list-style-type: none;
}

li, 
a{
    margin: 8px;
    text-decoration: none;
    marker: none;
    color: white;
}

img {
    width: 300px;
    height: 300px;
    padding-left: 55px;
}

.hero {
    display: flex;
    padding: 90px;
    background-color: #1f2937;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    color: white;
    background-color: #3882f6;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 110px;
}

.info h2 {
    font-size: 32px;
    font-weight: bold;
    color: #1f2937;
}

section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    padding: 45px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 0 190px;
    background-color: #e5e7eb;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

b {
    display: flex;
    justify-content: flex-end;
}

.bluebox {
    background-color: #3882f6;
    padding: 30px 20px;
    margin: 50px 200px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.bluebox p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

.blueboxtext {
    text-align: left;
}

.bluebutton button {
    background-color: #3882f6;
    border-color: #fff;
    border-radius: 5px;
    color: #e5e7eb;
    padding: 10px 15px;
}

.bluebutton {
    flex: 1;
}